/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2014, 2:42:05 PM
    Author     : Eileen
*/
@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Raleway);

.dashboard-wrapper{
	width: 80%;
/*	border: solid 1px;*/
	margin-left: auto;
	margin-right: auto;
	height: auto;
}
.dashboard-list{
	width: 960px;
	padding-bottom: 50px;
}
.dashboard-list li{
	list-style-type: none;
	padding-right: 50px;
	float: left;
}
.dashboard-list a{
	padding: 5px 10px; 
	display: block; 
	text-decoration: none;
	letter-spacing: 0.03em;
	color: #666;
	font-family: 'Open Sens', sans-serif;
	 

}
.dashboard-list .active{
	/*z-index: 3;*/
	
}
.dashboard-list .active a{

	color:rgba(46,46,46,0.6);
	font-weight: bold;
	border-bottom: solid 3px rgba(46,46,46,0.5);
}

/*----- Content of Tabs -----*/
   
.active{

    color:rgba(46,46,46,0.6);
    font-weight: bold;
    border-bottom: solid 3px rgba(46,46,46,0.5);
}
 
       


div.tab-box{
	height: 100%;
	display: block;
	/*border: 1px solid #ccc;*/
	/*-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;*/
	
}
.tab-box .single-box{
    width: 100%;

    height: auto;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}
.tab-box .left{
	width: 20%;
	height: 500px;
	float: left;
	-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;

}
.tab-box .right{
	width: 75%;
	height: auto;
	float: right;	
	-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
}
.profile-pic{
	background: #000;
	width: 100%;
	height: 50%;
}

.tab-box .left h3{
	text-align: center;
	letter-spacing: 0.04em;
	color: #666;
		font-family: 'Raleway', sans-serif;
	font-size: 26px;
}
.tab-box .left h2{
	text-align: center;
	letter-spacing: 0.04em;
	color: #19B5FE;
		font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	padding-bottom: 30px;
}
.request-for-info{
	text-align: center;
}


 div.tab-box.hide { display: none; }
 
        
     



/*** FORM  ***/
/* #### bootstrap Form #### */
.bootstrap-frm {
    margin-left:auto;
    margin-right:auto;

    width: 100%;
    background: #FFF;
    padding: 20px 0 20px 0;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;

}
.bootstrap-frm h1 {
    font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #DADADA;
    margin: -10px 0 30px 0;
    color: #888;
}
.bootstrap-frm h1>span {
    display: block;
    font-size: 11px;
}
.bootstrap-frm label {
    display: block;
    margin: 0px 0px 5px;
}
.bootstrap-frm label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.bootstrap-frm input[type="text"], .bootstrap-frm input[type="email"], .bootstrap-frm textarea, .bootstrap-frm select{
    border: 1px solid #CCC;
    color: #888;
    height: 20px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 70%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;    
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.bootstrap-frm select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right;
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height:15px;
}
.bootstrap-frm textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}
.bootstrap-frm .button {
    background: #FFF;
    border: 1px solid #CCC;
    padding: 10px 25px 10px 25px;
    color: #333;
    border-radius: 4px;
}
.bootstrap-frm .button:hover {
    color: #333;
    background-color: #EBEBEB;
    border-color: #ADADAD;
}
/************/
