<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <ejb-local-ref>
        <ejb-ref-name>loginBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <ejb-link>#LoginBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>loginBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <ejb-link>#LoginBean</ejb-link>
    </ejb-local-ref>
    <resource-ref>
        <description>DatabaseResource</description>
        <res-ref-name>jdbc/mydb</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>Servlets.TestConnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Servlets.TestJSPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>Servlets.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LinkCssServlet</servlet-name>
        <servlet-class>Servlets.LinkCssServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOfferFormServlet</servlet-name>
        <servlet-class>Servlets.AddOfferFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrowseClass</servlet-name>
        <servlet-class>Servlets.BrowseClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusinessViewServlet</servlet-name>
        <servlet-class>Servlets.BusinessViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReviewFormServlet</servlet-name>
        <servlet-class>Servlets.AddReviewFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>Servlets.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CasualUserRegisterServlet</servlet-name>
        <servlet-class>Servlets.CasualUserRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusinessUserRegisterServlet</servlet-name>
        <servlet-class>Servlets.BusinessUserRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CasualEditServlet</servlet-name>
        <servlet-class>Servlets.CasualEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BrowseClass</servlet-name>
        <url-pattern>/Class</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/searchview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/index.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/TestJSP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LinkCssServlet</servlet-name>
        <url-pattern>/LinkCss</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOfferFormServlet</servlet-name>
        <url-pattern>/AddOfferFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusinessViewServlet</servlet-name>
        <url-pattern>/BusinessViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReviewFormServlet</servlet-name>
        <url-pattern>/submitreview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CasualUserRegisterServlet</servlet-name>
        <url-pattern>/CRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusinessUserRegisterServlet</servlet-name>
        <url-pattern>/BRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CasualEditServlet</servlet-name>
        <url-pattern>/CasualEditServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
